<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <h3>{{sreamIt welcomeMessage}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, facere amet possimus, architecto sapiente enim omnis ea consectetur, ipsam voluptates molestias iure voluptate similique nisi? Dignissimos sapiente iste reprehenderit asperiores.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum magnam provident cupiditate voluptates totam hic aliquid officiis nostrum quod rem, nesciunt ut laudantium illum id quisquam ipsam ad vitae repellendus.</p>
    {{> footer}}
</body>
</html>